/* TODO Add site wide styles */
:root {
  --purple: #6504b5;
  --white: #ffffff;
  --light-grey: #efeef1;
  --dark-grey: #4d4751;
  --light-blue: #b0e9f8;
  --dark-blue: #004c81;
  --dark-purple: #2e0152;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

footer {
    align-self: flex-end;
}

.root {
    display: flex;
    flex-direction: column;
}

.body {
    min-height: 100vh;
    background-color: var(--light-grey);
    padding-bottom: 3rem;
}
