/* TODO Add site wide styles */
:root {
  --white: #ffffff;
  --light-grey: #efeef1;
  --medium-grey: #dbdadc;
  --dark-grey: #4d4751;
  --light-blue: #b0e9f8;
  --dark-blue: #004c81;
  --purple: #6504b5;
  --medium-purple: #410078;
  --dark-purple: #2e0152;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

footer {
  align-self: flex-end;
}

.root {
  display: flex;
  flex-direction: column;
}

.body {
  min-height: 100vh;
  background-color: var(--light-grey);
  padding-bottom: 3rem;
}

.body-white {
  min-height: 100vh;
  padding-bottom: 3rem;
}
