.auth-form__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-form {
    margin: 1rem 0;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--white);
    padding: 4rem;
    gap: 2rem;
    border: 2px solid var(--medium-grey);
    font-size: 18px;
}

.demo-user {
    color: var(--purple);
}

.demo-user:hover {
    cursor: pointer;
    text-decoration: underline;
}

.auth-form__title {
    color: var(--dark-grey);
    font-size: 40px;
}


.login-form__signup-link {
    border-top: 1px solid var(--medium-grey);
    width: 100%;
    text-align: center;
    padding-top: 2rem;
}

.auth-form__input-wrapper {
    width: 100%;
    /* border: 1px solid red; */
    position: relative;
}

.auth-form__input {
    width: 100%;
    height: 55px;
    padding: 22px 15px 2px;
    border-radius: 5px;
    border: 1px solid var(--medium-grey);
    color: var(--purple);
    font-size: medium;
}

.auth-form__input:focus {
    outline: 1px solid var(--purple);
}

.auth-form__input-label {
    color: var(--dark-grey);
    position: absolute;
    left: 15px;
    top: 5px;
}

.auth-form__submit-btn {
    width: 100%;
    padding: 1rem;
    border-radius: 25px;
    border: none;
    background-color: var(--purple);
    color: var(--white);
    font-weight: bold;
    font-size: medium;
}

.auth-form__submit-btn:hover {
    background-color: var(--dark-purple);
    cursor: pointer;
}
