.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 2rem;
  border-bottom: 1px solid var(--purple);
  height: 80px;
}

.nav__auth-links {
  display: flex;
  width: 250px;
  height: 100%;
  padding: 0 5rem 0 1rem;
}

.nav__auth-links > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--purple);
  font-weight: bold;
  height: 100%;
  width: 50%;
}

.nav__heart {
  color: var(--dark-grey);
}

.nav__heart-purple {
  color: var(--purple);
}

.nav__favorites {
  border-right: 2px solid var(--medium-grey);
  width: 70px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-grey)
}

.nav__logo {
  width: 10rem;
}

.nav__right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
