.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* border: 1px solid red */
}

.nav__logo {
  width: 10rem;
}

.nav__right-side {
  display: flex;
}

.profile-dropdown {
  list-style: none;
}
