.animals-page__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

@media screen and (max-width: 1023px) {
    .animals-page__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
