.animal-card__btn {
    background-color: hsla(0,0%,100%,.75);
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.animal-card__btn:hover {
    cursor: pointer;
}

.white-fave {
    color: var(--purple);
}

.white-fave:hover {
    background-color: var(--white);
}

.purple-fave {
    color: var(--white);
    background-color: var(--purple);
}

.purple-fave:hover {
    background-color: var(--dark-purple);
}
