.animal-images > img {
    width: 20rem;
    height: 30rem;
    object-fit: cover;
    margin: 1rem;
}

.animal-details__description {
    word-break: break-word;
}

.animal-details__nav {
    background-color: var(--dark-purple);
    padding: 1rem 3rem;
}

.animal-details__nav-back {
    color: var(--white);
    display: flex;
    width: fit-content;
    gap: 1rem;
}

.animal-details__nav-back:hover {
    cursor: pointer;
}

.animal-details__wrapper {
    color: var(--dark-grey);
    border: 1px solid red;
}

.animal-details__footer {
    display: flex;
    background-color: var(--white);
    align-items: center;
    padding: 1rem 2rem;
    /* position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px; */
}

.animal-details__footer-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
