.animal-form__title {
    margin: 2rem 0 1rem 0;
}

.animal-form__outer {
    display: flex;
    justify-content: center;
}

.animal-form__wrapper {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-grey)
}

.animal-form__form {
    width: 30rem;
    border: 2px solid var(--medium-grey);
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--light-grey);
}

.animal-form__health {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.animal-form__health-sub {
    display: flex;
    justify-content: space-between;
}

.animal-form__good-with {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.animal-form__good-with-sub {
    display: flex;
    justify-content: space-between;
}

/* .form-field {
    border: 1px solid red;
    height: 4rem;
    width: 100%;
    position: relative;
}

.form-input {
    height: 100%;
    width: 100%;
    padding: 2rem 1rem 0 1rem;
    font-size: medium;
}

.form-label {
    position: absolute;
    top: 5px;
    left: 5px;
    color: var(--dark-grey);
} */

.animal-form__form select,
.animal-form__form textarea,
.animal-form__form input,
.animal-form__form option {
    color: var(--purple);
}

.animal-form__form textarea {
    resize: none;
    height: 10rem;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: medium;
}

.animal-form__form select,
.animal-form__form input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--medium-grey);
    font-size: medium;
}

.animal-form__form > label {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.errors {
    color: red;
}

.animal-form__form select:focus,
.animal-form__form input:focus,
.animal-form__form textarea:focus {
    outline: 1px solid var(--purple)
}

.animal-form__submit-btn {
    width: 100%;
    padding: 1rem;
    border-radius: 25px;
    border: none;
    background-color: var(--purple);
    color: var(--white);
    font-weight: bold;
    font-size: medium;
}

.animal-form__submit-btn:hover {
    background-color: var(--dark-purple);
    cursor: pointer;
}

input[type=checkbox] {
    accent-color: var(--purple);
    width: 25px;
    height: 25px;
}

.animal-form__check-label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.animal-form__image-upload {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 0;
    width: 100%;
}

input::file-selector-button {
    border-radius: 30px;
    border: none;
    padding: 0.5rem;
    background-color: var(--purple);
    color: var(--white);
}

input::file-selector-button:hover {
    cursor: pointer;
}

.image-upload {
    width: 100%;
}
