.searches__outer {
    padding: 2rem 3rem;
}

.searches__wrapper {
    border: 2px solid var(--medium-grey);
    border-radius: 10px;
    background-color: var(--white);
    padding: 2rem;
}

.searches__title {
    color: var(--dark-grey);
    font-size: 40px;
    border-bottom: 1px solid var(--medium-grey);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.searches__searches-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
