.animals-list__outer {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animals-list__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: center;
    width: 90%;
    padding-top: 3rem;
    /* border: 1px solid green; */
}

@media screen and (max-width: 1023px) {
    .animals-list__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
