.animal-dropdown {
  position: absolute;
  background-color: white;
}

/* .search-filter__top-bar { */
  /* width: 100vw; */
  /* border: 1px solid red; */
/* } */

.search-filter__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20%;
  margin-top: 2rem;
}
